In [ ]:
# 1) Explain the key features of Python that make it a popular choice for programming?
# Ans: Python is compatible with various programming paradigms, such as procedural, object-oriented, and functional programming,
# also it has a large and active community of developers, an extensive standard library, and third-party packages for various domains.
# And it is easy to understand and write, making it a popular choice among developers and programmers.

In [ ]:
# 2) Describe the role of predefined keywords in Python and provide examples of how they are used in a program?
# Ans: Keywords are reserved words in Python that have special meanings and cannot be used as identifiers
# such as: print, type, if, True, False etc.
print("Bijoy")
print(1234) # So here as we can see print has a special purpose which is to print everything we write inside the bracket of it.
type("Bijoy") # and type is also a keyword which tells us what type of data we have put inside the code.

Bijoy
1234

str

In [ ]:
# 3) Compare and contrast mutable and immutable obbects in Python with examples.
# Mutable Objects: These are objects/container whose state or value can be changed after they are created. such as list, dictionaries.
# Immutable Objects: These are objects/container whose state or value can not be changed after they are created. Such as string.
A = [7,5,"Bijoy","Data","Analytics"] # These is a set of datas inside the list A. Now we can change each of the data by a different one.
A

[7, 5, 'Bijoy', 'Data', 'Analytics']

In [ ]:
A[3] # Here the 3rd block is Data.

'Data'

In [ ]:
A[3] = "Ram"

In [ ]:
A # Here as we can see that the 3rd block which was Data is now replaced by Ram. So list is a mutable object.

[7, 5, 'Bijoy', 'Ram', 'Analytics']

In [ ]:
B = "Assignment"
B

'Assignment'

In [ ]:
B[6] = 4 # Now here we can see that we cannot assign new value in a memory block because 'str' object does not support item assignment.
# That's why string is Immutable object.

TypeError: 'str' object does not support item assignment

In [ ]:
# 4) Discuss the different types of operators in Python and provide examples of how they are used.
# Ans: Operators are special symbols or keywords that are used to carry out specific actions on numbers or variables in Python expressions.
# Python supports various types of operators, including arithmetic operators (+, -, *, /), comparison operators (==, !=, <, >),
# logical operators (and, or, not), assignment operators (=, +=, -=, *=, /=), etc.
7+3,  9-6, 6*8, 10/2, 15%4 # Here we can see that arithmetic operators are used to calculate basic mathematical operations.

(10, 3, 48, 5.0, 3)

In [ ]:
5==5 , 5==7 , 7>1 # Here we can see that comparisons operators are used to compare both the values and if that is correct it is showing True otherwise
# it is False.

(True, False, True)

In [ ]:
# 5) Explain the concept of type casting in Python with examples.
# Type Castintg- It is the preocess of changing the data type of a value/object.
#string to integer
m = "64"
print(type(m))
print(type(int(m))) # Here the value of string has been changed into an integer.

<class 'str'>
<class 'int'>

In [ ]:
# float into integer
x = 5.6
print(type(x))
int(x)

<class 'float'>

5

In [ ]:
type(int(x)) # Her the value of float has been changed into integer.

int

In [ ]:
# 6) How do conditional statements work in Python? Illustrate with examples.
# Ans: Conditionals in Python are used to execute code based on the evaluation of one or more conditions.
# Python supports conditional statements such as if, elif (else if), and else to control the flow of execution.
# if >> will be executed if the condition is true.
review = "good"
if review == "good":
  print("I will go to the theater") # So it will execute the if block, if the condition is true.

I will go to the theater

In [ ]:
#if else >> if block will be executed when the condition is true else it will be the else block
review = " not good"
if review == "good":
  print("I will go to the theater")
else:
  print("I will not go to the theater")
# Here the condition is not true that's why else block is executed.

I will not go to the theater

In [ ]:
score = 69
if score >= 90:
    print("grade A")
elif (80<=score<90):
    print("Grade B")
elif (70<=score<80):
    print("Grade C")
elif (60<=score<70):
    print("Grade D")
elif (45<=score<60):
    print("Grade E")
else:
    print("Grade F")
# Here we can calculate multiple scenarios using elif.

Grade D

In [ ]:
# 7) Describe the different types of loops in Python and their use cases with examples.
# Ans: Loop statements allow us to execute a block of code repeatedly. There are two types of loop statements
# in Python: for loop and while loop.
# Example of while loop:
i = 1
while i <= 10:
    print(i)
    i += 1
else:
    print("loop completed without any break")

1
2
3
4
5
6
7
8
9
10
loop completed without any break

In [ ]:
# Example of while loop using break and continue:
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 3:
        continue
    elif i == 6:
        break
else:
    print("This will be executed when the while is run successfuly without any break")
# Here the as the condition has met so it exits the loop means the loop is broken.

1
2
3
4
5

In [ ]:
# Example of for loop:
for i in range(1,10):
    print(i)
else:
    print("loop completed without any break")

1
2
3
4
5
6
7
8
9
loop completed without any break

In [ ]:
# Example of for loop using break statement:
for i in range(1,10):
    print(i)
    if i == 5:
        break
else:
    print("loop completed without any break")
# Here the as the condition has met so it exits the loop means the loop is broken.

1
2
3
4
5